<div class="user-list-container">
  <h2>Lista de Usuários</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role.name }}</td>
      </tr>
    </tbody>
  </table>

  <button class="logout-button" (click)="logout()">Logout</button>
  <button (click)="toggleDarkMode()" class="dark-mode-toggle">
    {{ darkMode ? '☀️ Light Mode' : '🌙 Dark Mode' }}
  </button>
</div>