<section class="split-section">
  <div class="left-section">
    <div class="carousel-wrapper">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img
            src="assets/carousel/image1.png"
            alt="Imagem 1"
            class="carousel-image"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="assets/carousel/image2.png"
            alt="Imagem 2"
            class="carousel-image"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="assets/carousel/image3.png"
            alt="Imagem 3"
            class="carousel-image"
          />
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>

  <div class="right-section">
    <div class="login-container">
      <h2>Login</h2>
      <form (ngSubmit)="fazerLogin()" #loginForm="ngForm">
        <div>
          <label for="username">Usuário</label>
          <input
            id="username"
            [(ngModel)]="usernameOrEmail"
            name="username"
            required
            class="username-input"
            placeholder="Usuário ou Email"
            (blur)="validateFields()"
            [ngClass]="{
              'input-error': showValidation && !usernameOrEmail.trim()
            }"
          />
        </div>
        <div class="password-wrapper">
          <label for="password">Senha</label>
          <input
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="password"
            name="password"
            required
            class="password-input"
            (blur)="validateFields()"
            [ngClass]="{ 'input-error': showValidation && !password.trim() }"
          />

          <button
            type="button"
            (click)="togglePasswordVisibility()"
            class="toggle-password-btn"
            aria-label="Mostrar ou esconder senha"
          >
            <svg
              *ngIf="!showPassword"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="none"
              stroke="#6515f8"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              viewBox="0 0 24 24"
            >
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
              <circle cx="12" cy="12" r="3" />
            </svg>
            <svg
              *ngIf="showPassword"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="none"
              stroke="#6515f8"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              viewBox="0 0 24 24"
            >
              <path
                d="M17.94 17.94a10.03 10.03 0 0 1-5.94 2.06c-7 0-11-8-11-8a18.06 18.06 0 0 1 2.88-4.58"
              />
              <path d="M1 1l22 22" />
            </svg>
          </button>
        </div>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        <button type="submit">Entrar</button>
      </form>
      <p class="signup-link">
        Não tem uma conta?
        <a (click)="navigateToSignup()" class="signup-button">Cadastre-se</a>
      </p>
    </div>
  </div>
</section>
