<section class="split-section">
  <div class="left-section">
    <button class="theme-toggle" (click)="toggleTheme()" aria-label="Toggle theme">
      {{ isDarkMode ? '☀️' : '🌙' }}
    </button>
    <div class="carousel-wrapper">
      <div class="carousel-slide" *ngFor="let slide of carouselSlides; let i = index"
        [class.active]="currentSlide === i">
        <img [src]="slide.image" class="carousel-image">
      </div>
      <div class="carousel-indicators">
        <div class="indicator" *ngFor="let slide of carouselSlides; let i = index" [class.active]="currentSlide === i"
          (click)="goToSlide(i)">
        </div>
      </div>
    </div>
  </div>

  <div class="right-section">
    <div class="login-container">
      <h2>Login</h2>
      <form (ngSubmit)="fazerLogin()" #loginForm="ngForm">
        <div>
          <label for="username">Usuário</label>
          <input id="username" [(ngModel)]="usernameOrEmail" name="username" required class="username-input"
            placeholder="Usuário ou Email" (blur)="validateFields()" [ngClass]="{
              'input-error': showValidation && !usernameOrEmail.trim()
            }" />
        </div>

        <div class="password-wrapper">
          <label for="password">Senha</label>
          <input id="password" placeholder="Digite sua senha" [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="password" name="password" required class="password-input" (blur)="validateFields()"
            [ngClass]="{ 'input-error': showValidation && !password.trim() }" />

          <button type="button" (click)="togglePasswordVisibility()" class="toggle-password-btn"
            aria-label="Mostrar ou esconder senha">
            <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
              <circle cx="12" cy="12" r="3" />
            </svg>
            <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
              <path d="M17.94 17.94a10.03 10.03 0 0 1-5.94 2.06c-7 0-11-8-11-8a18.06 18.06 0 0 1 2.88-4.58" />
              <path d="M9.06 9.06a3 3 0 1 0 5.88 5.88" />
              <path d="M1 1l22 22" />
            </svg>
          </button>
        </div>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

        <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
      </form>

      <p class="signup-link">
        Não tem uma conta?
        <a (click)="navigateToSignup()" class="signup-button">Cadastre-se</a>
      </p>
    </div>
  </div>
</section>