<div class="users-online-container">
  <div class="header">
    <div class="online-users">
      <h3>Usuários Online</h3>
      <div class="user-count">
        <span class="online-indicator"></span>
        <span class="count"> {{ connectedUsers }}</span>
      </div>
    </div>
  </div>

  <div class="search-box">
    <input type="text" placeholder="Buscar usuários..." class="search-input">
  </div>

  <div class="users-list">
    <div *ngFor="let user of users" class="user-item">
      <div class="user-avatar">
        <div class="avatar-circle">
          {{ getInitials(user.username) }}
        </div>
        <span class="status-indicator" [style.background-color]="getStatusColor(user.status)"></span>
      </div>

      <div class="user-info">
        <span class="user-name">{{ user.username }}</span>
      </div>
    </div>

    <div *ngIf="lastError" class="error-message">
      <p>Erro: {{ lastError }}</p>
    </div>
  </div>
</div>
