<div class="content">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Visão Geral</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Resumo do sistema</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Estatísticas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Dados importantes</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Atividades Recentes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Últimas ações</p>
    </mat-card-content>
  </mat-card>
</div>