<div class="dashboard-container" [class.dark-mode]="darkMode">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content class="main-content">
      <mat-toolbar class="top-bar">
        <button mat-icon-button (click)="sidenav.toggle()" class="menu-button" aria-label="Toggle menu">
          <mat-icon>menu</mat-icon>
        </button>

        <h1 class="title">Bem-vindo ao Painel</h1>
      </mat-toolbar>

      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

    <mat-sidenav #sidenav mode="side" opened class="sidebar" fixedInViewport="true">
      <mat-nav-list class="menu-top">
        <a mat-list-item [matMenuTriggerFor]="menu">
          <mat-icon matListItemIcon>menu</mat-icon>
        </a>
        <mat-menu #menu="matMenu" class="menu-panel-container">
          <app-menu-panel></app-menu-panel>
        </mat-menu>
      </mat-nav-list>
      <mat-nav-list class="nav-menu">
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <mat-icon matListItemIcon title="teste">house</mat-icon>
        </a>
        <a mat-list-item routerLink="/dashboard/users" routerLinkActive="active">
          <mat-icon matListItemIcon>people</mat-icon>
        </a>

        <a mat-list-item routerLink="/dashboard/chat">
          <mat-icon matListItemIcon>chat</mat-icon>
        </a>

        <a mat-list-item routerLinkActive="active">
          <mat-icon matListItemIcon>person</mat-icon>
        </a>

        <a mat-list-item routerLinkActive="active">
          <mat-icon matListItemIcon>settings</mat-icon>
        </a>

        <a mat-list-item (click)="logout()" class="logout-item">
          <mat-icon matListItemIcon>logout</mat-icon>
        </a>
        <div class="menu-bottom">
          <a mat-list-item (click)="toggleDarkMode()">
            <mat-icon matListItemIcon>dark_mode</mat-icon>
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>